<style type="text/css">
  .page-title {
    position: absolute;
    margin-top: 200px;
    font-size: 20px;
    color: white;
    width: 100%;
  }
  .sub-title {
    padding-top: 20px;
    font-size: 12px;
    color: #3C537F;
    max-width: 300px;
    margin: 0 auto;
  }
  .container {
    width: auto;
  }
  .form {
    padding: 0;
  }
  .form-container {
    width: 100%;
  }
  .signup-btn {
    font-size: 14px;
    margin: 10px 0 0 0;
    width: 250px;
    height: 40px;
    border-radius: 12px;
    background-color: #3C537F
  }
  .hero {
    overflow: hidden;
    height: 390px;
  }
  .hero-image img {
    margin-top: 0;
    width: auto;
    height: 390px;
  }
  .hero-overlay {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    background-color: black;
    height: 390px;
    opacity: 0.29;
  }
  .hero-logo {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    padding: 55px 0 0 0;
  }
  .hero-logo img {
    margin: 0 auto;
    margin-top: 0;
    height: 35px;
  }
  .body-section {
    width: 100%;
    min-height: 270px;
    position: absolute;
    background-color: white;
  }
  .body-text {
    text-align: center;
    margin: 0 auto;
    padding: 20px 0 20px 0;
    color: #3F6A7D;
    font-size: 20px;
    line-height: 24px;
    max-width: 325px;
  }
  .login-container {
    padding: 40px 0 0 0;
    color: #535353;
  }
</style>

<div class="hero">
  <div class="hero-image">
  <div class="hero-overlay"></div>
    <div class="hero-logo">
      <img src="/assets/icons/logo-full-white.png">
    </div>
    <div class="page-title">
      YOUR MONEY, ON-DEMAND<br />
      AT THE PUSH OF A BUTTON.
    </div>
    <img src="/assets/other/hero.jpg">
  </div>
</div>

  <div class="body-section">
   <div class="body-text">
   ACCESS TO CASH, ON-DEMAND,<br />
   AT THE PUSH OF A BUTTON.
  </div>
  <a href="/signup"><input type="submit" name="commit" value="GET STARTED" class="btn"></a>

  <div class="login-container">
    <a href="/login">Login</a>
  </div>

</div>

