<style type="text/css">
  #signup-textbox {
    font-size: 16px;
  }
  .signup-btn {
    max-width: 200px;
  }
</style>

<!-- RENDER NAV BAR -->
<%= render partial: "layouts/nav/nav_mobile" %>

<div class="content">
  <div class="page-title">
    Sign in to Float Account!
  </div>

  <div class="alert-error">
    <%= flash[:notice] %>
  </div>

  <div class="container">
    <%= render partial: "layouts/forms/login_form" %>
  </div>

</div>