<!-- FLOAT CARD -->
<div class="card">
  <div class="card-logo-container">
    <div class="card-logo">
      <img src="assets/icons/logo.png">
    </div>
  </div>
  <div class="card-number-container">
    <div class="card-number" id="card-name"><%= @card_names[rand(0..4)] %></div>
  </div>
  <div class="visa-icon-container">
    <div id="rfid-icon">
      <img src="assets/icons/RFID.png" height="25px">
    </div>
    <div id="visa-icon">
      <img src="assets/other/visa.png" height="20px">
    </div>
  </div>
</div>
<!-- END FLOAT CARD -->