<!-- IPHONE -->
<div class="iphone-container">
  <div class="iphone-body">
    <!-- iPhone Image -->
    <img src="assets/other/iPhone.png">
  </div>
  <!-- iPhone Screen Content -->
  <div class="iphone-screen"></div>
</div>
<!-- END IPHONE -->