
/* Rectangle for early acess: */

.navcontent {
    padding-top: 25px;
    padding-right: 30px;
}

.navbutton {
    width: 200px;
    height: 51px;
    margin-bottom:15px;
}


.navbar-default {
  background-color: rgba(255, 255, 255, 0.8);
  border-color: transparent;
}

.navbar-form {
    margin: 0px;
}

@media (min-width: 1200px) {
    .h2post {
        width:70%; 
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) {
    #logo {
        margin: 21px 0px 0px 20px;
        width: 89px;
        height: 52px;
    }
}

@media (max-width: 992px) {
    .img-center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .txt-center {
        text-align: center;
    }
    
    .h2post {
        width:100%; 
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .logo-mgn {
        margin:0px 0px 0px 20px;
        width: 89px;
        height: 52px;
    }
    
    .sm-pad {
        padding-right: 0px;
    }
}


#main-content {
 padding: 90px 40px 30px 40px;
 text-align: left;
 margin-top:90px;
}

.btn {
  border-radius: 5px;
  font-family: AvenirNext-Regular;
  color: #ffffff;
  font-size: 15px;
  font-weight:normal;
  background: #3DA5D1;
  line-height: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  box-shadow: none;
}

.btn:visited, .btn:hover, .btn:active, .btn:focus {
  background: #3799bf;
  text-decoration: none;
  color: #ffffff;

}




ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding-right:37px;
}

/* ABOUT             FA: */
.navbar-default .navbar-nav>li>a {
    font-family: AvenirNext-Regular;
    font-size: 15px;
    color: #3DA5D1;
    line-height: 20px;
    text-decoration: none 
}

.navbar-default .navbar-nav>li>a:hover {
    text-decoration: none;
    color: #2A8AB0;
}

/* Say hello to Float.: */
h1 {
  /*  position:absolute;
    top:198.5px;
    left:68px;*/
    font-family: AvenirNext-Regular;
    font-size: 48px;
    font-weight:normal;
    color: #000000;
    letter-spacing: 0.38px;
    line-height: 66px;
    margin-bottom: 26px;
}

/* Credit, reinvented.: */
h2 {
    font-family: AvenirNext-UltraLight;
    font-size: 24px;
    font-weight: lighter;
    color: #000000;
    letter-spacing: 0.18px;
    line-height: 34px;
}


/* Float is available n Copy: */
p {
    font-family: AvenirNext-UltraLight;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0.12px;
    line-height: 22px;
}

.ppos {
    margin-bottom: 42.5px;
}

    /* Rectangle 6 Copy 2: */
input {
    opacity: 0.75;
    border: 1px solid #989898;
    box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.50);
    border-radius: 4px;
    width:427.17px;
    height:46px;
}

/* Enter email address Copy: */
input::-webkit-input-placeholder {
    opacity: 0.75;
    font-family: AvenirNext-UltraLight;
    font-size: 17px;
    color: #B2B2B2;
    line-height: 22px;
    text-align: center;
}

.plholder {
    opacity: 1.00;
    font-family: AvenirNext-UltraLight;
    font-size: 17px;
    color: #B2B2B2;
    padding-left: 5px;
    margin-bottom: 15px;
}

.GSbutton {
    width: 427.17px;
    height: 46px;
    margin-bottom: 48px;
}


#footspace {
    position: relative;
    width: 100%;
    height:306px;
    background: #000000;
}


li a i {
    padding-right: 93.5px;
    color: #3DA5D1;
}


/*  Home    |    About : */
li a {
font-family: AvenirNext-UltraLight;
font-size: 15px;
color: #FFFFFF;
line-height: 22px;
}

li a:visited, li a:hover, li a:active, li a:focus {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.sm-foot {
    text-align:center; 
    margin-top:40px;
    margin-left:100px;
}

.apl-foot {
    text-align:center;  
    margin-top:35px;
    margin-right:35px;
}

.apl-btn {
    width: 156px;
    height: 55px;
    border: solid;
    border-radius: 5px;
    border-color: white;
    border-width: 1px;
}

.foot-menu {
    text-align:center; 
    margin:40px;
}
    
/* Copyright      2015 : */
#copyright {
    text-align:center;
    color: #FFFFFF;
    font-size: 10.28px;
    line-height: 22px;
    margin:0px;
    margin-right: 38px;
}

