<!-- Modal Overlay -->
<div id="overlay"></div>
<!-- Modal -->
<div class="modal hidden" id="modal">
  <div id="close-modal">&#10005;</div>
  <div class="modal-title">float beta test</div>
  <div class="modal-body">
    <div class="modal-body-header">Be one of the first of your friends to gain access to float's exclusive pre-approval process.</div>
    <!-- <input type="text" id="early-access-email" placeholder="enter your email"> -->
    <div class="modal-btn" id="later">
      <img src="assets/icons/later.svg" class="btn-ico">maybe later
    </div>
    <div id="early-access" class="modal-btn">
      <img src="assets/icons/now.svg" class="btn-ico">let's go!
    </div>
  </div>
</div>

<script type="text/javascript">
  // redirect to float beta
  // $("#early-access").click(function(){
  //   window.location.href = "https://underwriting.hellofloat.com";
  // });
</script>

<!-- watch and race car icons by Matt Brooks from TNP