<!-- FOOTER -->
<footer>
  <div class="footer-container">
      <span class="socmed">
        <a href="http://facebook.com/hellofloat" id="twitter" target="_blank">facebook</a>
        <a href="http://medium.com/@float" id="facebook" target="_blank">blog</a>
        <a href="http://instagram.com/hellofloat" id="instagram" target="_blank">instagram</a>
        <a href="http://twitter.com/hellofloat" id="instagram" target="_blank">twitter</a>
      </span>
  </div>
</footer>
<!-- END FOOTER -->